//
// 確認画面、問い合わせ完了画面
// 
.contact-thanks,.contact-confirmation {
    padding-top: 200px;
    text-align: left;
    width: 80vw;
    margin: 0 auto;

    .section-wrap.js-trigger {
        padding-bottom: 80px;
    }

}


// thanks
// .contact-thanks {
//     .section-wrap {
//         padding-bottom: 80px;
//     }
// }

// 
// 入力画面
// 
#mw_wp_form_mw-wp-form-56 {
    .form {
        .form_row {
            padding-top: 40px;
            .span-red {
                color: red;
            }
            input[type="email"]{
                width: 50%;
            }
            .resize50 {
                input[type="text"] {
                width: 50%;
                }
            }
            .form_row_center {
                padding-top: 80px;
            }
        }

            .form_content {
                margin-top: 10px;
                border-bottom: 1px solid #b4b4b4;
                width: 30vw;
            }
            //　送信ボタン、確認ボタン
            input[type="submit"] {
                background-color: var(--btn-color);
                border-radius: 100px;
                margin-top: 40px;
                width: 26.5rem;
                height: 7.2rem;

                font-family: var(--font-family);
                font-weight: 700;

                padding: 0 60px;
                display: block;
                border: none;
                outline: 0;
                cursor: pointer;
                color:var(--main-color);
                line-height: 3.0em;
                // padding: 0 2.5em 0 0.8em;
                transition: all 6s;
                line-height: 1.5;
                letter-spacing: .05em;
            }


            //　ボタンカラー
            // 不要かも？？？↓
            // .button_wrap{
            //     color: var(--btn-color);
            //     position: relative;
            // }



            // ボタン　擬似要素
            .button_wrap::after{
                // transition: 5s;
                // transition: 0.3s;
                // border-top: 2px solid var(--main-color);
                // border-right: 2px solid var(--main-color);
                // content: "";
                // right: -50%;
                // width: .6em;
                // height: .6em;
                position: absolute;
                // top: 0;
                // bottom: 0;
                // margin: auto;
                // -webkit-transform: rotate(45deg);
                // -ms-transform: rotate(45deg);
                // transform: rotate(45deg);
            }

            // // ＞が移動
            // .button_wrap:hover::after{
            //     // right: -80%;
            // }

            // ホバー後グラデーション
            input[type="submit"]:hover {
                background: linear-gradient(135deg, #f6d365 0%,  #fda085 100%);
            }

            input[type="text"],input[type="email"],#message{
                outline: none;
                border: none;
                cursor: pointer;
                background-color: var(--main-color);
            }













            // メッセージエリアサイズ制御
            textarea {
                resize: vertical; /* 縦方向のリサイズを許可 */
                max-height: 500px; /* 高さの最大値 */
                min-height: 100px; /* 高さの最小値 */
                width: 100%;
            }

            // 入力後背景色
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px var(--main-color) inset;
                }

            // 確認画面
            .mw_wp_form_confirm {
                width: 80vw;
                margin: 0 auto;
                display: flex;
                justify-content: flex-start;

                .form {
                    .form_row {
                        margin-top: 20px;
                    }
                }
                .form_content {
                    margin-top: 10px;
                }

                .form_row .form_row_center {
                    margin-top: 40px;
                }
            }
    }
}



// backボタン位置　左寄せ
.footer-inner {
    margin: 0;
    .btn-left {
        margin-left: 10vw;
        margin-top: 100px;
    }
}




// 
// メディアクエリ
// 
@include mq(sp) {
    .contact-thanks,.contact-confirmation  {
        padding-top: 100px;
        width: 90vw;
    }
}

