//
// 確認画面、問い合わせ完了画面
// 
.contact-thanks,.contact-confirmation {
    padding-top: 200px;
    text-align: left;
    width: var(--width);
    margin: 0 auto;

    .section-wrap.js-trigger {
        padding-bottom: 80px;
    }

}



// 
// 入力画面
// 
#mw_wp_form_mw-wp-form-56 {
    .form {
        .form_row {
            padding-top: 40px;
            .span-red {
                color: red;
            }
            input[type="email"]{
                width: 50%;
            }
            .resize50 {
                input[type="text"] {
                width: 50%;
                }
            }
            .form_row_center {
                padding-top: 80px;
            }
        }

            .form_content {
                margin-top: 10px;
                border-bottom: 1px solid #b4b4b4;
                width: 50%;
                font-family: "Noto Sans JP", serif ,sans-serif;
            }

            // 
            // ボタン
            // 
            .button_wrap {
                background-color: transparent;
                border-radius: 100px;
                overflow: hidden;
                text-align: center;
                // ボタン左寄せにするため削除予定
                // margin: 0 auto;
                width: 26.5rem;
                height: 7.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: relative;
                z-index: 0;
            
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                /* defaultColor　ボタン */
                &:before {
                    transition: all 0.6s;
                    background-color: var(--btn-color);
                    z-index: 5;
                }
                /* ホバー時にオレンジ色を透過 */
                &:hover:before {
                    opacity: 0;
                }

                /* 代わりに以下の色出現 */
                &:after {
                    z-index: 4;
                    background:linear-gradient(135deg, #f6d365 0%,  #fda085 100%);
                }


                // //　送信ボタン、確認ボタン
                input[type="submit"] {
                    z-index: 10;
                    background-color: transparent;
                    border-radius: 100px;
                    width: 26.5rem;
                    height: 7.2rem;
                    border: none;
                    outline: 0;
                    cursor: pointer;
                    font-family: var(--font-family);
                    font-weight: 700;
                    color:var(--main-color);
                    line-height: 1.5;
                    letter-spacing: .05em;
                }
            }


            input[type="text"],input[type="email"],#message{
                outline: none;
                border: none;
                cursor: pointer;
                background-color: var(--main-color);
            }

            // メッセージエリアサイズ制御
            textarea {
                resize: vertical; 
                max-height: 500px; 
                min-height: 100px; 
                width: 100%;
            }

            // 入力後背景色
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px var(--main-color) inset;
                }

            // 確認画面
            .mw_wp_form_confirm {
                width: var(--width);
                margin: 0 auto;
                display: flex;
                justify-content: flex-start;
            }
    }
}




// backボタン位置　左寄せ
.page-template-default.page-id-74,.page-template-default.page-id-54 {
    .footer-inner {
        margin: 0;
        .btn.btn-left {
            margin-left: 10vw;
            margin-top: 100px;
        }
        .btn {
            @include btn(26.5rem, 7.2rem);
            margin: 0 auto;
            a {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }
            .btn-text {
                padding: 0 60px;
            }
            svg {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
        }
    }
}

// 
// メディアクエリ
// 
@include mq(tab) {
    .footer-inner {
        padding-top: 0;
    }
}

@include mq(sp) {
    .contact-thanks,.contact-confirmation  {
        padding-top: 100px;
        width: var(--media-sp-width);
    }
    #mw_wp_form_mw-wp-form-56 {
        .form {
            .form_content {
                width: 100%; 
            }  
        }
    }
    .page-template-default.page-id-54 {
        .footer-inner {
            margin: 0 auto;
            .btn.btn-left {
                margin-left: auto;
            }
        } 
    }
    .page-template-default.page-id-74 {
        .footer-inner {
            .btn.btn-left {
                margin-left: 5vw;
            }
        }
    }
}

